<div class="form-group">
  <label for="sel0" class="ddm">Heart failure phenotype *</label>
  <select id="sel0" class="ddm">
    <option value="Izberi">Izberi</option>
    <option value="Srčno popuščanje z ohranjenim iztisnim deležem (HFpEF)">Srčno popuščanje z ohranjenim iztisnim deležem (HFpEF)</option>
    <option value="Srčno popuščanje z zmanjšanim iztisnim deležem (HFrEF)">Srčno popuščanje z zmanjšanim iztisnim deležem (HFrEF)</option>
  </select>

  <label for="sel2" class="ddm">Main diagnosis *</label>
  <select id="sel1" class="ddm">
    <option value="Izberi">Izberi</option>
    <option value="ishemična bolezen srca s srčnim popuščanjem     ">ishemična bolezen srca s srčnim popuščanjem&nbsp;
      &nbsp;&nbsp;
    </option>
    <option value="valvularna bolezen srca s srčnim popuščanjem     ">valvularna bolezen srca s srčnim popuščanjem&nbsp;
      &nbsp;&nbsp;
    </option>
    <option value="hipertenzivna bolezen srca s srčnim popuščanjem     ">hipertenzivna bolezen srca s srčnim popuščanjem&nbsp;
      &nbsp;&nbsp;
    </option>
    <option value="kongenitalna srčna hiba s srčnim popuščanjem     ">kongenitalna srčna hiba s srčnim popuščanjem&nbsp;
      &nbsp;&nbsp;
    </option>
    <option value="dilatativna kardiomiopatija     ">dilatativna kardiomiopatija&nbsp; &nbsp;&nbsp;</option>
    <option value="hipertrofična kardiomiopatija     ">hipertrofična kardiomiopatija&nbsp; &nbsp;&nbsp;</option>
    <option value="restriktivna kardiomiopatija     ">restriktivna kardiomiopatija&nbsp; &nbsp;&nbsp;</option>
    <option value="aritmogena displazija desnega prekata     ">aritmogena displazija desnega prekata&nbsp;
      &nbsp;&nbsp;
    </option>
    <option value="nekompakcijska kardiomiopatija     ">nekompakcijska kardiomiopatija&nbsp; &nbsp;&nbsp;</option>
    <option value="peripartalna kardiomiopatija     ">peripartalna kardiomiopatija&nbsp; &nbsp;&nbsp;</option>
    <option value="drugo     ">drugo&nbsp; &nbsp;&nbsp;</option>
  </select>

  <select id="sel2" class="ddm">
    <option value="Izberi">Izberi</option>
    <option value="brez">brez</option>
    <option value="toksična">toksična</option>
    <option value="inflamatorna">inflamatorna</option>
    <option value="familiarna">familiarna</option>
    <option value="pozitivna genetika">pozitivna genetika</option>
  </select>

  <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
    <label for="cr">Clinically recognized *</label>
    <input id="cr" size="16" type="text" value="12-02-2012">
    <span class="add-on"><i class="icon-th"></i></span>
  </div>
</div>
