<div class="wrapper-allergies">ARTHMYAS</div>

<div class="col-md-12">
    <div class="col-md-10">
        <div class="col-md-12 pull-left" style="text-align: left">
            <div class="radio-wrap pull-left">
                <input type="radio" id="1y">
                <label for="1y">Yes</label>


            </div>
            <div class="radio-wrap pull-left">
                <input type="radio" id="1n">
                <label for="1n">No</label>

            </div>
            <div class="radio-wrap pull-left">
                <input type="radio" id="1u">
                <label for="1u">Unknown</label>

            </div>
        </div>
    </div>


</div>