<div *ngFor="let item of valuesArray">
    <div class="wrapper-left col-md-12" style="display: inline-flex;">
        <div class="col-md-6 pull-left headline" style="display: inline-flex">
            {{item}}
        </div>
        <div class="col-md-6 pull-right text-right radios" style="display: inline-flex">

            <div class="radio-wrap">
                <input type="radio" id="1y">
                <label for="1y">Yes</label>


            </div>
            <div class="radio-wrap">
                <input type="radio" id="1n">
                <label for="1n">No</label>

            </div>
            <div class="radio-wrap">
                <input type="radio" id="1u">
                <label for="1u">Unknown</label>

            </div>

        </div>

    </div>
    <div class="wrapper-left col-md-12">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
</div>
<div class="wrapper-left col-md-12">

<div class="col-md-7">

    <label class="input-default input-position" for="general-eval">Source of information
        <select class="general-eval" name="general-eval" id="general-eval">
            <option>Izberi</option>
            <option>Good</option>
            <option>Moderate</option>
            <option>Poor</option>
            <option>Unknown</option>
        </select>
    </label>
</div>
</div>


