<div class="adc">
  <div class="col-sm-6 di">
    <p class="di">PULMONARY HYPERTENSION</p>
  </div>
  <div class="col-sm-6 di" style="display: inline;">
    <label for="1y">Yes</label>
    <input type="radio" class="ch1" id="1y">
    <label for="1n">No</label>
    <input type="radio" class="ch1" id="1n">
    <label for="1u">Unknown</label>
    <input type="radio" class="ch1" id="1u">
  </div>
</div>
<div class="adc">
  <div class="col-sm-6 di">
    <p class="di">PULMONARY HYPERTENSION</p>
  </div>
  <div class="col-sm-6 di" style="display: inline;">
    <label for="1y">Yes</label>
    <input type="radio" class="ch1" id="1y">
    <label for="1n">No</label>
    <input type="radio" class="ch1" id="1n">
    <label for="1u">Unknown</label>
    <input type="radio" class="ch1" id="1u">
  </div>
</div>
<div class="adc">
  <div class="col-sm-6 di">
    <p class="di">PULMONARY HYPERTENSION</p>
  </div>
  <div class="col-sm-6 di" style="display: inline;">
    <label for="1y">Yes</label>
    <input type="radio" class="ch1" id="1y">
    <label for="1n">No</label>
    <input type="radio" class="ch1" id="1n">
    <label for="1u">Unknown</label>
    <input type="radio" class="ch1" id="1u">
  </div>
</div>
<div class="adc">
  <div class="col-sm-6 di">
    <p class="di">PULMONARY HYPERTENSION</p>
  </div>
  <div class="col-sm-6 di" style="display: inline;">
    <label for="1y">Yes</label>
    <input type="radio" class="ch1" id="1y">
    <label for="1n">No</label>
    <input type="radio" class="ch1" id="1n">
    <label for="1u">Unknown</label>
    <input type="radio" class="ch1" id="1u">
  </div>
</div>
<div class="adc">
  <div class="col-sm-6 di">
    <p class="di">PULMONARY HYPERTENSION</p>
  </div>
  <div class="col-sm-6 di" style="display: inline;">
    <label for="1y">Yes</label>
    <input type="radio" class="ch1" id="1y">
    <label for="1n">No</label>
    <input type="radio" class="ch1" id="1n">
    <label for="1u">Unknown</label>
    <input type="radio" class="ch1" id="1u">
  </div>
</div>
<div class="adc">
  <div class="col-sm-6 di">
    <p class="di">PULMONARY HYPERTENSION</p>
  </div>
  <div class="col-sm-6 di" style="display: inline;">
    <label for="1y">Yes</label>
    <input type="radio" class="ch1" id="1y">
    <label for="1n">No</label>
    <input type="radio" class="ch1" id="1n">
    <label for="1u">Unknown</label>
    <input type="radio" class="ch1" id="1u">
  </div>
</div>
<div class="adc">
  <div class="col-sm-6 di">
    <p class="di">PULMONARY HYPERTENSION</p>
  </div>
  <div class="col-sm-6 di" style="display: inline;">
    <label for="1y">Yes</label>
    <input type="radio" class="ch1" id="1y">
    <label for="1n">No</label>
    <input type="radio" class="ch1" id="1n">
    <label for="1u">Unknown</label>
    <input type="radio" class="ch1" id="1u">
  </div>
</div>
