<div class="wrapper-left">
    <div class="col-md-7" style="display: inline-flex">
        <label style="display: block; margin-right: 15px;" class="input-default input-position" for="weight">
            Weight

            <input style="display: block" class="text-field" id="weight">
        </label>

        <label class="input-default input-position" for="height">
            Height

            <input class="text-field" id="height">
        </label>
    </div>
    <div class="col-md-10" style="display: inline-flex">
        <label class="input-default input-position" for="bloodtype">Blood Type
            <select class="text-field" name="blood-type" id="bloodtype">
                <option>Izberi</option>
                <option>A+</option>
                <option>A-</option>
                <option>B+</option>
                <option>B-</option>
                <option>AB+</option>
                <option>AB-</option>
                <option>0+</option>
                <option>0-</option>
            </select>
        </label>


        <label class="input-default input-position radio-margin" for="rh+" >Rh+<input id="rh+" type="radio" name="rh" value="Rh+">
        </label>
        <label class="input-default input-position radio-margin" for="rh-">Rh-<input id="rh-" type="radio" name="rh" value="Rh-">
        </label>


        <label class="input-default input-position radio-margin " for="k+">K+<input id="k+" type="radio" name="rh" value="K+"> </label>
        <label class="input-default input-position radio-margin " for="k-">K-<input id="k-" type="radio" name="rh" value="K-"> </label>
    </div>
    <div class="col-md-7">

        <label class="input-default input-position" for="general-eval">General evalution
        <select class="general-eval" name="general-eval" id="general-eval">
            <option>Izberi</option>
            <option>Good</option>
            <option>Moderate</option>
            <option>Poor</option>
            <option>Unknown</option>
        </select>
        </label>
    </div>
    <div class="col-md-10" style="display: inline-flex;">

        <label class="input-default input-position" for="nyha" style="margin-right: 15px;">NYHA
        <select class="text-field" name="Nyha" id="nyha">
            <option>Izberi</option>
            <option>-</option>
            <option>I/II</option>
            <option>II</option>
            <option>II/III</option>
            <option>III</option>
            <option>III/IV</option>
            <option>IV</option>
        </select>
        </label>


        <label class="input-default input-position" for="intermacs">INTERMACS
        <select class="text-field" name="intermacs" id="intermacs">
            <option>Izberi</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
        </select>
        </label>
    </div>
</div>