<div class="wrapper-left">
    <div class="col-md-12">
        <label class="input-default input-position" for="rh+">Tobacco use+
        </label>
    </div>
    <div class="col-md-10" style="display: inline-flex">
        <input class="pull-left" id="rh-" type="radio" name="rh" value="Rh-"> Current Smoker
        <div style="margin-left: 40px; display: inline-flex"><input id="k+" type="radio" name="rh" value="K+"> Former Smoker</div>
        <div style="margin-left: 40px; display: inline-flex"><input id="k-" type="radio" name="rh" value="K-"> Never smoked</div>

    </div>
</div>