<div class="wrapper-left">
    <div class="col-md-7" style="display: inline-flex">
        <label class="input-default input-position" for="no-o" style="margin-right: 15px;">
            No. of glasses
            <input class="text-field" id="no-o">
        </label>

        <select class="text-field" id="day-o" style="margin-top: 18px;">
            <option>Izberi</option>
            <option>Day</option>
            <option>Week</option>
            <option>Month</option>
            <option>Year</option>
        </select>


    </div>
</div>