
  <div class="wrapper-left col-md-12" style="display: inline-flex;">
    <div class="col-md-6 pull-left headline" style="display: inline-flex">
    HEART PROCEDURE
    </div>
    <div class="col-md-6 pull-right text-right radios" style="display: inline-flex">

      <div class="radio-wrap">
        <input type="radio" id="1y">
        <label for="1y">Yes</label>


      </div>
      <div class="radio-wrap">
        <input type="radio" id="1n">
        <label for="1n">No</label>

      </div>
      <div class="radio-wrap">
        <input type="radio" id="1u">
        <label for="1u">Unknown</label>

      </div>

    </div>

  </div>
  <div class="wrapper-left col-md-12">
    <div class="col-md-12">
      <hr>
    </div>
  </div>

  <div class="wrapper-left col-md-12" style="display: inline-flex;">
    <div class="col-md-6 pull-left headline" style="display: inline-flex">
     PACEMAKERS AND ACIDS
    </div>
    <div class="col-md-6 pull-right text-right radios" style="display: inline-flex">

      <div class="radio-wrap">
        <input type="radio" id="1y">
        <label for="1y">Yes</label>


      </div>
      <div class="radio-wrap">
        <input type="radio" id="1n">
        <label for="1n">No</label>

      </div>
      <div class="radio-wrap">
        <input type="radio" id="1u">
        <label for="1u">Unknown</label>

      </div>

    </div>

  </div>
  <div class="wrapper-left col-md-12">
    <div class="col-md-12">
      <hr>
    </div>
  </div>

  <div class="wrapper-left col-md-12" style="display: inline-flex;">
    <div class="col-md-6 pull-left headline" style="display: inline-flex">
      MECHANICAL CIRCULATORY SUPPORT

    </div>
    <div class="col-md-6 pull-right text-right radios" style="display: inline-flex">

      <div class="radio-wrap">
        <input type="radio" id="1y">
        <label for="1y">Yes</label>


      </div>
      <div class="radio-wrap">
        <input type="radio" id="1n">
        <label for="1n">No</label>

      </div>
      <div class="radio-wrap">
        <input type="radio" id="1u">
        <label for="1u">Unknown</label>

      </div>

    </div>

  </div>
  <div class="wrapper-left col-md-12">
    <div class="col-md-12">
      <hr>
    </div>
  </div>

  <div class="wrapper-left col-md-12" style="display: inline-flex;">
    <div class="col-md-6 pull-left headline" style="display: inline-flex">
      ASSISTED VENTILATION
    </div>
    <div class="col-md-6 pull-right text-right radios" style="display: inline-flex">

      <div class="radio-wrap">
        <input type="radio" id="1y">
        <label for="1y">Yes</label>


      </div>
      <div class="radio-wrap">
        <input type="radio" id="1n">
        <label for="1n">No</label>

      </div>
      <div class="radio-wrap">
        <input type="radio" id="1u">
        <label for="1u">Unknown</label>

      </div>

    </div>

  </div>
