<div class="wrapper-left">
    <div class="col-md-7" style="display: inline-flex;">
        <label style="margin-right: 15px;" class="input-default input-position" for="marital-stat">Marital Status
            <select class="general-eval" name="marital-stat" id="marital-stat">
                <option>Izberi</option>
                <option>Single</option>
                <option>Married</option>
                <option>Divorced</option>
                <option>Widowed</option>
            </select>
        </label>

        <label class="input-default input-position" for="hh-o">
            Household occupants
            <input class="text-field" id="hh-o">
        </label>
    </div>


    <div class="col-md-7">

        <label class="input-default input-position" for="ed-lvl">Education level
            <select class="general-eval" name="ed-lvl" id="ed-lvl">
                <option>Izberi</option>
                <option>Primary school</option>
                <option>High School</option>
                <option>Undergraduate Studies</option>
                <option>Postgraduate Studies</option>
                <option>No education</option>
            </select>
        </label>
    </div>
    <div class="col-md-7">

        <label class="input-default input-position" for="em-stat">Employment status
            <select class="general-eval" name="em-stat" id="em-stat">
                <option>Izberi</option>
                <option>Dependent</option>
                <option>Employed</option>
                <option>Unemployed</option>
                <option>Retired</option>
            </select>
        </label>
    </div>
    <div class="col-md-7">

        <label class="input-default input-position" for="disa-lvl">Disability level
            <select class="general-eval" name="disa-lvl" id="disa-lvl">
                <option>Izberi</option>
                <option>Lorem Ipsum</option>
                <option>Lorem Ipsum</option>
                <option>Lorem Ipsum</option>
                <option>Lorem Ipsum</option>
            </select>
        </label>
    </div>
</div>