.input-default{
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #61646D;

}

.general-eval {
    width: 176px;
    height: 32px;
}


.text-field{
    width: 88px;
    height: 32px;
}

.wrapper-left{
    text-align: left;
    margin-left: 15px;
}

div {
    margin-bottom: 20px;

}
label, input, select {
    display: block;
}


select {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #61646D;
}