<div class="container">

    <div class="col-md-6 offset-md-3 text-center">
        <div *ngIf="!isFormActive">
            <p>Please select a form</p>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" (click)="toggleDropDown()">
                Select a form
            </button>
            <div *ngIf="isToggled" class="dropdown-forms-menu">
                <div *ngFor="let f of forms;let i=index;">
                    <a class="dropdown-item" href="#" (click)="getFormBlank(f.name)">
                        {{f.name}}
                    </a>
                </div>

            </div>
        </div>
    </div>

    <ehr-form-description-renderer #renderer [formConfig]="formConfigX"
                                   *ngIf="isFormActive"></ehr-form-description-renderer>
    <button class="btn btn-secondary" *ngIf="!compositionHasTags && compositionHasTags!=null && isFormActive" (click)="putComposition()"> Save</button>
</div>
