/* You can add global styles to this file, and also import other style files */
@import "~mrd-theme/bootstrap/scss/bootstrap.scss";
@import "~thinkehr-forms/src/_ehr-form-base-styles.scss";

/*ehr-form {*/
/*@import "~thinkehr-forms/src/theme/all-gray.scss";*/
/*}*/

.no-border {
    border: 0 !important;
}

@font-face {
    font-family: Lato-Regular;
    src: url("../src/assets/Lato-Regular.ttf")
}

body {
    font-family: Lato-Regular, SansSerif;

}
.card-block {
    padding: 0;
}


.wrapper {

    padding-top: 7px;
}

.btn-group {
    width: 100%;
    color: lightgray;
    font-size: small;
    box-shadow: 1px 1px 1px lightgray;
    margin-bottom: 10px;
    background-color: #f0f0f0;

}

.btn-default {
    width: 20%;
    background-color: white;
    border: 1px solid lightgray;
    font-size: small;
    color: #61646d;
    font-weight: 500;
    padding: 6px 20px;
    cursor: pointer;
    box-shadow: 1px 1px 1px lightgray;
}

.btn-primary {
    width: 20%;
    color: #61646d;
    font-size: small;
    font-weight: 500;
    padding: 6px 20px;
    cursor: pointer;
    box-shadow: 1px 1px 1px lightgray;
}
.dropdown-forms-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}